name: MLflow CI Training & Docker

on:
  push:
    branches: [ "main" ]
  workflow_dispatch:

jobs:
  train-and-docker:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repo
      uses: actions/checkout@v4

    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: "3.10"

    - name: Install MLflow
      run: |
        pip install mlflow==3.7.0

    - name: Run MLflow Project
      run: |
        cd MLProject
        mlflow run .

    - name: Login Docker Hub
      run: |
        echo "${{ secrets.DOCKER_HUB_ACCESS_TOKEN }}" | docker login \
          -u "${{ secrets.DOCKER_HUB_USERNAME }}" --password-stdin

    - name: Build Docker Image with MLflow
      run: |
        cd MLProject
        mlflow build-docker \
          --name arinitrirahayuu/churn-ci \
          .

    - name: Push Docker Image
      run: |
        docker push arinitrirahayuu/churn-ci
