name: MLflow CI Training

on:
  push:
    branches: [ "main" ]

jobs:
  train:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: "3.10"

    - name: Install dependencies
      run: |
        pip install -r MLProject/requirements.txt

    - name: Run MLflow Project
      run: |
        cd MLProject
        mlflow run .

    - name: Build Docker Image (Advanced)
      run: |
        cd MLProject
        mlflow models build-docker -m mlruns -n arinitrirahayuu/churn-ci

    - name: Login Docker Hub
      run: |
        echo "${{ secrets.DOCKER_HUB_ACCESS_TOKEN }}" | docker login -u ${{ secrets.DOCKER_HUB_USERNAME }} --password-stdin

    - name: Push Docker Image
      run: |
        docker push arinitrirahayuu/churn-ci
