name: CI-MLflow

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  train-and-build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout Repo
      uses: actions/checkout@v3

    - name: Setup Python
      uses: actions/setup-python@v4
      with:
        python-version: "3.10"

    - name: Install Dependencies
      run: |
        python -m pip install --upgrade pip
        pip install mlflow==2.19.0

    - name: Run MLflow Project
      run: |
        cd MLProject
        mlflow run . --env-manager=local

    - name: Get Run ID
      run: |
        cd MLProject
        RUN_ID=$(cat run_id.txt)
        echo "RUN_ID=$RUN_ID" >> $GITHUB_ENV

    - name: Build Docker Image with MLflow
      run: |
        cd MLProject
        mlflow models build-docker \
          --model-uri runs:/$RUN_ID/model \
          --name cc

    - name: Login Docker Hub
      uses: docker/login-action@v2
      with:
        username: ${{ secrets.DOCKER_HUB_USERNAME }}
        password: ${{ secrets.DOCKER_HUB_ACCESS_TOKEN }}

    - name: Tag & Push Docker Image
      run: |
        docker tag cc ${{ secrets.DOCKER_HUB_USERNAME }}/churn-ci:latest
        docker push ${{ secrets.DOCKER_HUB_USERNAME }}/churn-ci:latest
