name: MLflow CI Pipeline

on:
  push:
    branches: [ main ]
  workflow_dispatch:

jobs:
  train-and-dockerize:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v4

    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: '3.10'

    - name: Install MLflow
      run: |
        pip install mlflow==3.7.0

    - name: Run MLflow Project (Training)
      run: |
        cd MLProject
        mlflow run . --env-manager=local

    - name: Login to Docker Hub
      run: |
        echo "${{ secrets.DOCKER_HUB_ACCESS_TOKEN }}" | docker login -u "${{ secrets.DOCKER_HUB_USERNAME }}" --password-stdin

    - name: Build Docker Image with MLflow
      run: |
        cd MLProject
        RUN_ID=$(ls mlruns/*/*/meta.yaml | head -n 1 | awk -F'/' '{print $(NF-1)}')
        mlflow models build-docker \
          -m runs:/$RUN_ID/model \
          -n arinitrirahayuu/churn-ci

    - name: Push Docker Image
      run: |
        docker push arinitrirahayuu/churn-ci
