name: CI-MLflow-Churn

on:
  push:
    branches: [ "main" ]

jobs:
  train-and-build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repo
      uses: actions/checkout@v4

    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: "3.10"

    - name: Install MLflow
      run: |
        pip install mlflow scikit-learn pandas

    - name: Run MLflow Project
      run: |
        cd MLProject
        mlflow run .

    - name: Login Docker Hub
      uses: docker/login-action@v3
      with:
        username: ${{ secrets.DOCKER_HUB_USERNAME }}
        password: ${{ secrets.DOCKER_HUB_ACCESS_TOKEN }}

    - name: Build Docker Image with MLflow
      run: |
        cd MLProject
        mlflow models build-docker \
          -m mlruns \
          -n arinitrirahayuu/churn-ci:latest

    - name: Push Docker Image
      run: |
        docker push arinitrirahayuu/churn-ci:latest
