name: MLflow CI Pipeline

on:
  push:
    branches: ["main"]
  workflow_dispatch:

jobs:
  train-and-dockerize:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.10"

      - name: Install MLflow
        run: |
          pip install mlflow

      - name: Run MLflow Project (Retraining)
        run: |
          mlflow run MLProject

      - name: Build Docker Image using MLflow
        run: |
          mlflow build-docker MLProject \
            --name ${{ secrets.DOCKER_HUB_USERNAME }}/churn-mlflow-model

      - name: Login to Docker Hub
        run: |
          echo "${{ secrets.DOCKER_HUB_ACCESS_TOKEN }}" | docker login \
            -u "${{ secrets.DOCKER_HUB_USERNAME }}" --password-stdin

      - name: Push Docker Image
        run: |
          docker push ${{ secrets.DOCKER_HUB_USERNAME }}/churn-mlflow-model
