name: MLflow CI

on:
  push:
    branches: [ "main" ]

jobs:
  train-and-build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repo
      uses: actions/checkout@v4

    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: "3.10"

    - name: Install MLflow
      run: pip install mlflow

    - name: Run MLflow Project
      run: |
        cd MLProject
        mlflow run .

    - name: Login Docker Hub
      run: echo "${{ secrets.DOCKER_HUB_ACCESS_TOKEN }}" | docker login -u "${{ secrets.DOCKER_HUB_USERNAME }}" --password-stdin

    - name: Build Docker Image from MLflow
      run: |
        cd MLProject
        mlflow models build-docker \
          --model-uri runs:/$(ls mlruns/*/*/artifacts/model | head -n 1 | awk -F/ '{print $2}')/model \
          --name arinitrirahayuu/churn-ci

    - name: Push Docker Image
      run: docker push arinitrirahayuu/churn-ci
